@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 100% 95%;
    --foreground: 240 7% 3%;

    --card: 0 0% 100%;
    --card-foreground: 240 7% 3%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 7% 3%;

    --primary: 169 37% 65%;
    --primary-foreground: 0 0% 0%;

    --secondary: 109 51% 85%;
    --secondary-foreground: 240 6% 10%;

    --muted: 240 4% 95%;
    --muted-foreground: 240 3% 46%;

    --accent: 26 100% 85%;
    --accent-foreground: 240 6% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 27 100% 60%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 81% 4%;
    --foreground: 210 40% 98%;

    --card: 0 0% 100%;
    --card-foreground: 240 7% 3%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 7% 3%;

    --primary: 169 37% 65%;
    --primary-foreground: 0 0% 0%;

    --secondary: 109 51% 85%;
    --secondary-foreground: 240 6% 10%;

    --muted: 240 4% 95%;
    --muted-foreground: 240 3% 46%;

    --accent: 26 100% 85%;
    --accent-foreground: 240 6% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 27 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
